@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins";
  }
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}

#amenityParking:checked ~ .check-1 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}

#amenityFurnished:checked ~ .check-2 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenityAC:checked ~ .check-3 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenityHeating:checked ~ .check-4 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenityWasher:checked ~ .check-5 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenityDryer:checked ~ .check-6 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}

#amenityWifi:checked ~ .check-7 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenityGym:checked ~ .check-8 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenitySwimming:checked ~ .check-9 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#amenitySecurity:checked ~ .check-10 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}

/** ------------- FOR FILTER MENU IN ALL LISTING  ------------------------------------------------*/
#bathroom1:checked ~ .check-bathroom1 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#bathroom2:checked ~ .check-bathroom2 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#bathroom3:checked ~ .check-bathroom3 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#bathroom4:checked ~ .check-bathroom4 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}

#bedroom1:checked ~ .check-bedroom1 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#bedroom2:checked ~ .check-bedroom2 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#bedroom3:checked ~ .check-bedroom3 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#bedroom4:checked ~ .check-bedroom4 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#propertyType1:checked ~ .check-propertyType1 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}
#propertyType2:checked ~ .check-propertyType2 {
  @apply text-opacity-100;
  animation: check-animation 0.5s 1;
}

@keyframes check-animation {
  0%,
  100% {
    @apply transform scale-100;
  }
  50% {
    @apply transform scale-150 text-opacity-0;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button {
  background-color: white;
}
.slick-dots li button:before {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
}
.slick-dots li.slick-active button:before {
  background-color: #fff;
  color: red;
}

/** ------------- PRICE SLIDER THUMB  ------------------------------------------------*/
.slider {
  width: 100%;
  height: 2px;
  background-color: #cdc4cd;
  margin-top: 20px;
}
.slider .thumb {
  width: 23px;
  height: 23px;
  cursor: grab;
  border-radius: 50%;
  border: 2px solid #7166f0;
  background-color: #7166f0;
  top: -12px;
}
.slider .thumb:focus {
  outline: 2px solid #7166f0;
}

.slider .track-1 {
  height: 2px;
  background-color: #7166f0;
}
